@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300&family=Overpass:wght@300;800&display=swap');

::selection {
    background: #ffeaa7;
    /* WebKit/Blink Browsers */
}

::-moz-selection {
    background: #ffeaa7;
    /* Gecko Browsers */
}

body {
    font-family: 'Overpass', Helvetica, sans-serif;
    font-size: 1.51rem;
    color: #4A4A44;
    font-size: 300;
}

.name {
    font-weight: 700;
    font-size: 43px;
    margin: 0;
}

.header {
    padding-top: 10px;
    width: 100%;
    font-size: 1.5rem;
    padding-bottom: 10px;
}

.me {
    padding-bottom: 30px;
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header-right {
    float: right;
    padding-top: 20px;
    font-weight: 700;
}
#profile {
    width: 35%;
    padding-top: 50px;
}  

.header-left {
    float: left;
    padding-top: 20px;
    font-weight: 700;
}

.header-link {
    text-decoration: none;
    text-transform: capitalize;
    padding: 3px 7px 3px 7px;
    fill: #b6d2ee;
    border-radius: 5px;
    font-size: 1.3rem;
    -webkit-transition: color .25s, fill .25s, opacity .25s;
    -o-transition: color .25s, fill .25s, opacity .25s;
    transition: color .25s, fill .25s, opacity .25s;
    text-decoration: none;
}

.header-link:hover {
    fill: #3f444a;
}

a {
    color: rgba(37, 99, 235);
}

.tag {
    color: #718093;
    font-weight: 200;
    text-align: right;
    font-family: 'Overpass Mono', monospace;
}

.basic {
    color: #718093;
    font-weight: 200;
}

@media (max-width: 550px) {
    .tag {
        text-align: left;
        padding-bottom: 10px;
    }

    .article-date {
        display: none;
    }
}

.personal-elem {
    padding-top: 10px;
}

.article-date {
    float: right;
    font-family: 'Overpass Mono', monospace;
}

.article-title {
    float: left;
}

.article-link {
    color: #3f444a;
    border-bottom: 1px solid #d4d7dd;
    text-decoration: none;
    -webkit-transition: color .25s, fill .25s, opacity .25s;
    -o-transition: color .25s, fill .25s, opacity .25s;
    transition: color .25s, fill .25s, opacity .25s;
}

.article-link:hover {
    text-decoration-color: #0abde3;
    border-bottom: 1px solid #0abde3;
}

.end-article-title {
    font-size: 12px;
}

.end-article-link {
    text-decoration: none;
}

.project,
.article {
    padding-bottom: 10px;
}

.link {
    color: #4c525c;
    text-decoration: none;
    -webkit-transition: opacity .25s;
    -o-transition: opacity .25s;
    transition: opacity .25s;
    border-bottom: 1px solid #d4d7dd;
}

.link:hover {
    opacity: 0.5;
}

.highlight-b {
    font-weight: 700;
    color: #2980b9;
}

.highlight-r {
    font-weight: 700;
    color: #c0392b;
}

.highlight-y {
    font-weight: 700;
    color: #f39c12;
}

.highlight-g {
    font-weight: 700;
    color: #16a085;
}

.highlight-p {
    font-weight: 700;
    color: #8e44ad;
}

.list {
    list-style-position: outside;
    padding-left: 15px;
    font-size: 1.5rem;
}

.news {
    border-left: 4px solid #0abde3;
    font-size: 14px;
    padding: 10px;
    margin: 10px;
}

.subpage {
    font-weight: 700;
    font-size: 35px;
    margin-top: 60px;
    margin-bottom: 0px;
}

.back {
    margin-bottom: 0px;
}

.year {
    margin-bottom: 0px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 700;
}

/* @media (prefers-color-scheme: dark) {
    body {
        filter: invert(100%);
        background-color: rgb(29, 32, 31) !important;
    }

    img {
        filter: invert(100%);
    }
} */